<header class="site-header px2 px-responsive">
  <div class="mt2 wrap">
    <div class="measure">
      <img src="/images/logo.png" height="24" width="24" style="float: left; margin-right: 5px;">
      <a href="{{ "/" | relative_url }}" class="site-title">
        <strong>{{ site.title }}</strong> {{ site.description }}
      </a>
      <nav class="site-nav">
        {% include navigation.html %}
      </nav>
      <div class="clearfix"></div>
      {% if site.show_social_icons %}
        {% include social_links.html %}
      {% endif %}
    </div>
  </div>
</header>
